{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MFA Enabled</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="center-container">
            <div class="container">
                <hi>MFA Activated</hi>
                <p>You've successfully enabled Multi-Factor Authentication on your acount.</p>
                <p>Click the link below to login and proceed:</p>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </body>
</html>