{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set MFA Method</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="center-container">
        <div class="container">
            <h2>Set Your Preferred MFA Method</h2>
            <form method="post">
                {% csrf_token %}
                <label>
                    <input type="radio" name="mfa_method" value="TOTP" {% if user_profile.mfa_method == "TOTP" %}checked{% endif %}>
                    Time-Based One-Time Password (TOTP)
                </label><br>
                <label>
                    <input type="radio" name="mfa_method" value="SMS" {% if user_profile.mfa_method == "SMS" %}checked{% endif %}>
                    SMS Codes
                </label><br>

                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
</html>