{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Generate TOTP QR Code</title>
        <link rel="stylesheet" href="{% static 'css/new.css' %}">
    </head>
    <body>
        <div class="center-container">
            <div class="container">
                <h2>Scan the QR code below in your authentication app:</h2>
                <p>click on the link below to proceed after scanning the QR code</p>
                <a href="{% url 'verify-totp' %}">Proceed</a>
                <img src="{{ qr_code }}" alt="TOTP QR Code">
            </div>
        </div>
    </body>
</html>